<li class="snippet">
  <a href="{{ post.url }}">
    <picture class="snippet_img">
      <!-- Mobile Image -->
      <source 
        media="(max-width: 600px)" 
        srcset="{% getUrl post.data.image | resize({ width: 600, height: 400 }) | avif %}" 
        type="image/avif">
      <source 
        media="(max-width: 600px)" 
        srcset="{% getUrl post.data.image | resize({ width: 600, height: 400 }) | webp %}" 
        type="image/webp">
      <source 
        media="(max-width: 600px)" 
        srcset="{% getUrl post.data.image | resize({ width: 600, height: 400 }) | jpeg %}" 
        type="image/jpeg">

      <!-- Tablet Image -->
      <source 
        media="(max-width: 1024px)" 
        srcset="{% getUrl post.data.image | resize({ width: 1024, height: 768 }) | avif %}" 
        type="image/avif">
      <source 
        media="(max-width: 1024px)" 
        srcset="{% getUrl post.data.image | resize({ width: 1024, height: 768 }) | webp %}" 
        type="image/webp">
      <source 
        media="(max-width: 1024px)" 
        srcset="{% getUrl post.data.image | resize({ width: 1024, height: 768 }) | jpeg %}" 
        type="image/jpeg">

      <!-- Desktop Image -->
      <source 
        media="(min-width: 1024px)" 
        srcset="{% getUrl post.data.image | resize({ width: 1920, height: 1080 }) | avif %}" 
        type="image/avif">
      <source 
        media="(min-width: 1024px)" 
        srcset="{% getUrl post.data.image | resize({ width: 1920, height: 1080 }) | webp %}" 
        type="image/webp">
      <source 
        media="(min-width: 1024px)" 
        srcset="{% getUrl post.data.image | resize({ width: 1920, height: 1080 }) | jpeg %}" 
        type="image/jpeg">

      <img 
        src="{% getUrl post.data.image | resize({ width: 1920, height: 1080 }) | jpeg %}" 
        alt="{{ post.data.imageAlt }}" 
        width="1920" 
        height="1080" 
        loading="lazy" 
        decoding="async">
    </picture>
    <div class="snippet_text-container">
      <div class="snippet_title-container">
        <h3 class="snippet_title">{{ post.data.title }}</h3>
        <svg class="title-icon"></svg>
      </div>
      <div class="underline"></div>
      <div class="snippet_meta-container">
        <div class="snippet_date-container">
          <svg class="date-icon"></svg>
          <p>{{ post.date | postDate }}</p>
        </div>
        <div class="snippet_author-container">
          <p class="snippet_meta">By: {{ post.data.author }}</p>
        </div>
      </div>
    </div>
  </a>
</li>


