<section class="featured-posts">
  <div class="featured-posts_container">

    <ul role="featured-list">

      {%- for post in collections.featured -%}
        {% include "article-snippet.njk" %}
      {%- endfor -%}

    </ul>
  </div>
</section> 