<header class="page-header">
  <div class="page-header_container">    

      <div class="logo-container">
        <img class="logo" alt="logo" src="/assets/svgs/logo.svg" width="100" height="100">
      </div>

      <nav class="page-header_nav">
        <ul role="list" class="page-header_nav-list">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/">About</a>
          </li>
          <li>
            <a href="/">Services</a>
          </li>
          <li>
            <a href="/">Testimonials</a>
          </li>
          <li>
            <a href="/blog/">Blog</a>
          </li>
          <li>
            <a href="/">Contact</a>
          </li>
        </ul>
      </nav>

      <button class="dark-mode-toggle">
        <img class="moon" alt="moon" src="assets/svgs/moon.svg" width="20" height="20">
      </button>

      <button class="light-mode-toggle">
        <img class="sun" alt="sun" src="assets/svgs/sun.svg" width="20" height="20">
      </button>

      <button class="hamburger" aria-label="Toggle Navigation">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </button>

  </div>
</header>