<section class="hero">
    <div class="cs-content_text">
        <p class="topper">ONE LINE ABOUT WHAT THEY DO</p>
        <h1 class="header">MAIN KEYWORDS ENTERED HERE</h1>
        <p class="base">About 3 lines of a description going into more depth about what the client does and services they offer.</p>
        <div class="hero-buttons">
            <button class="cs-button hero_cs-button">Get Started</button>
            <button class="cs-button about-button">About Us</button>
        </div>
    </div>
    <img src="#" alt="This is the hero image" class="hero-img">
</section>