<section class="hero">
    <div class="cs-content_text">
        <p>1 line about what they do</p>
        <h1>Main Keywords for What They Do</h1>
        <p>About 3 lines of a description going into more depth about what the client does and services they offer.</p>
        <div class="hero-buttons">
            <button class="cs-button hero_cs-button">Get Started</button>
            <button class="cs-button">About Us</button>
        </div>
    </div>
    <picture></picture>
</section>