<section class="portfolio">
    <div class="portfolio-container">
        <div class="cs-content_text">
            <p class="topper gray">Portfolio</p>
            <h1 class="header black">MAIN KEYWORDS ENTERED HERE</h1>
            <p class="base gray">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad ipsum temporibus tempore reiciendis quas a, nihil esse aliquam dolorem! Error perspiciatis aliquid voluptatem suscipit sequi eius sed quis sit facilis.</p>
        </div>
        <div class="portfolio_image-group">
            <!-- Image 1 --->
            <a class="portfolio_image-item">
                <img src="/assets/images/portfolio-1.webp" loading="lazy" decoding="async" alt="">
                </picture>
                <!-- Hover Box -->
                <div class="portfolio_hover-box">
                    <svg class="hover-icon"></svg>
                    <h3>Project Name</h3>
                    <p>Subtitle</p> 
                </div>
            </a>
            <!-- Image 2 --->
            <a class="portfolio_image-item">
                <img src="#" loading="lazy" decoding="async" alt="">
                <!-- Hover Box -->
                <div class="portfolio_hover-box">
                    <svg class="hover-icon"></svg>
                    <h3>Project Name</h3>
                    <p>Subtitle</p>
                </div>
            </a>
            <!-- Image 3 --->
            <a class="portfolio_image-item">
                <img src="#" loading="lazy" decoding="async" alt="">
                <!-- Hover Box -->
                <div class="portfolio_hover-box">
                    <svg class="hover-icon"></svg>
                    <h3>Project Name</h3>
                    <p>Subtitle</p>
                </div>
            </a>
            <!-- Image 4 --->
            <a class="portfolio_image-item">
                <img src="#" loading="lazy" decoding="async" alt="">
                <!-- Hover Box -->
                <div class="portfolio_hover-box">
                    <svg class="hover-icon"></svg>
                    <h3>Project Name</h3>
                    <p>Subtitle</p>
                </div>
            </a>
            <!-- Image 5 --->
            <a class="portfolio_image-item">
                <img src="#" loading="lazy" decoding="async" alt="">
                <!-- Hover Box -->
                <div class="portfolio_hover-box">
                    <svg class="hover-icon"></svg>
                    <h3>Project Name</h3>
                    <p>Subtitle</p>
                </div>
            </a>
            <!-- Image 6 --->
            <a class="portfolio_image-item">
                <img src="#" loading="lazy" decoding="async" alt="">
                <!-- Hover Box -->
                <div class="portfolio_hover-box">
                    <svg class="hover-icon"></svg>
                    <h3>Project Name</h3>
                    <p>Subtitle</p>
                </div>
            </a>
        </div>
    </div>
</section>