<section class="portfolio">
    <div class="portfolio-container">
        <div class="cs-content_text">
            <p class="topper gray">Portfolio</p>
            <h1 class="header black">MAIN KEYWORDS ENTERED HERE</h1>
            <p class="base gray">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad ipsum temporibus tempore reiciendis quas a, nihil esse aliquam dolorem! Error perspiciatis aliquid voluptatem suscipit sequi eius sed quis sit facilis.</p>
        </div>
        <div class="portfolio_image-group">
            <!-- Image 1 --->
            <a class="portfolio_image-item">
                <img src="" loading="lazy" decoding="async" alt="">
                <!-- Hover Box -->
                <div class="portfolio_hover-box">
                    <svg class="portfolio-icon" fill="#000000" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M11.999 1.993c-5.514.001-10 4.487-10 10.001s4.486 10 10.001 10c5.513 0 9.999-4.486 10-10 0-5.514-4.486-10-10.001-10.001zM12 19.994c-4.412 0-8.001-3.589-8.001-8s3.589-8 8-8.001C16.411 3.994 20 7.583 20 11.994c-.001 4.411-3.59 8-8 8z"></path><path d="M12 10.994H8v2h4V16l4.005-4.005L12 7.991z"></path></g></svg>
                    <h3>Project Name</h3>
                    <p>Subtitle - Small Description of Project Entered Here. Just filling some space!</p> 
                </div>
            </a>
            <!-- Image 2 --->
            <a class="portfolio_image-item">
                <img src="" loading="lazy" decoding="async" alt="">
                <!-- Hover Box -->
                <div class="portfolio_hover-box">
                    <svg class="portfolio-icon" fill="#000000" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M11.999 1.993c-5.514.001-10 4.487-10 10.001s4.486 10 10.001 10c5.513 0 9.999-4.486 10-10 0-5.514-4.486-10-10.001-10.001zM12 19.994c-4.412 0-8.001-3.589-8.001-8s3.589-8 8-8.001C16.411 3.994 20 7.583 20 11.994c-.001 4.411-3.59 8-8 8z"></path><path d="M12 10.994H8v2h4V16l4.005-4.005L12 7.991z"></path></g></svg>
                    <h3>Project Name</h3>
                    <p>Subtitle - Small Description of Project Entered Here. Just filling some space!</p>
                </div>
            </a>
            <!-- Image 3 --->
            <a class="portfolio_image-item">
                <img src="" loading="lazy" decoding="async" alt="">
                <!-- Hover Box -->
                <div class="portfolio_hover-box">
                    <svg class="portfolio-icon" fill="#000000" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M11.999 1.993c-5.514.001-10 4.487-10 10.001s4.486 10 10.001 10c5.513 0 9.999-4.486 10-10 0-5.514-4.486-10-10.001-10.001zM12 19.994c-4.412 0-8.001-3.589-8.001-8s3.589-8 8-8.001C16.411 3.994 20 7.583 20 11.994c-.001 4.411-3.59 8-8 8z"></path><path d="M12 10.994H8v2h4V16l4.005-4.005L12 7.991z"></path></g></svg>
                    <h3>Project Name</h3>
                    <p>Subtitle - Small Description of Project Entered Here. Just filling some space!</p>
                </div>
            </a>
            <!-- Image 4 --->
            <a class="portfolio_image-item">
                <img src="" loading="lazy" decoding="async" alt="">
                <!-- Hover Box -->
                <div class="portfolio_hover-box">
                    <svg class="portfolio-icon" fill="#000000" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M11.999 1.993c-5.514.001-10 4.487-10 10.001s4.486 10 10.001 10c5.513 0 9.999-4.486 10-10 0-5.514-4.486-10-10.001-10.001zM12 19.994c-4.412 0-8.001-3.589-8.001-8s3.589-8 8-8.001C16.411 3.994 20 7.583 20 11.994c-.001 4.411-3.59 8-8 8z"></path><path d="M12 10.994H8v2h4V16l4.005-4.005L12 7.991z"></path></g></svg>
                    <h3>Project Name</h3>
                    <p>Subtitle - Small Description of Project Entered Here. Just filling some space!</p>
                </div>
            </a>
            <!-- Image 5 --->
            <a class="portfolio_image-item">
                <img src="" loading="lazy" decoding="async" alt="">
                <!-- Hover Box -->
                <div class="portfolio_hover-box">
                    <svg class="portfolio-icon" fill="#000000" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M11.999 1.993c-5.514.001-10 4.487-10 10.001s4.486 10 10.001 10c5.513 0 9.999-4.486 10-10 0-5.514-4.486-10-10.001-10.001zM12 19.994c-4.412 0-8.001-3.589-8.001-8s3.589-8 8-8.001C16.411 3.994 20 7.583 20 11.994c-.001 4.411-3.59 8-8 8z"></path><path d="M12 10.994H8v2h4V16l4.005-4.005L12 7.991z"></path></g></svg>
                    <h3>Project Name</h3>
                    <p>Subtitle - Small Description of Project Entered Here. Just filling some space!</p>
                </div>
            </a>
            <!-- Image 6 --->
            <a class="portfolio_image-item">
                <img src="" loading="lazy" decoding="async" alt="">
                <!-- Hover Box -->
                <div class="portfolio_hover-box">
                    <svg class="portfolio-icon" fill="#000000" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M11.999 1.993c-5.514.001-10 4.487-10 10.001s4.486 10 10.001 10c5.513 0 9.999-4.486 10-10 0-5.514-4.486-10-10.001-10.001zM12 19.994c-4.412 0-8.001-3.589-8.001-8s3.589-8 8-8.001C16.411 3.994 20 7.583 20 11.994c-.001 4.411-3.59 8-8 8z"></path><path d="M12 10.994H8v2h4V16l4.005-4.005L12 7.991z"></path></g></svg>
                    <h3>Project Name</h3>
                    <p>Subtitle - Small Description of Project Entered Here. Just filling some space!</p>
                </div>
            </a>
        </div>
    </div>
</section>