<section class="services">
    <div class="services_cs-container">
        <div class="cs-content_text">
            <p class="topper gray">WHAT WE DO</p>
            <h1 class="header black">MAIN KEYWORDS ENTERED HERE</h1>
            <p class="base gray">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad ipsum temporibus tempore reiciendis quas a, nihil esse aliquam dolorem! Error perspiciatis aliquid voluptatem suscipit sequi eius sed quis sit facilis.</p>
        </div>
        <div class="cards-container">
            <ul class="cs-cards">
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
            </ul>
        </div>
    </div>
</section>