<section class="cta">
    <div class="cta_container">
        <div class="cs-content_text">
            <h1 class="header white">READY TO START WORKING WITH US?</h1>
        </div>
        <button class="cs-button "><a href="/contact-page" class="cs-button_link">Get Started Today</a></button>
    </div>
</section>