<section class="cta">
    <div class="cta_container">
        <div class="cs-content_text">
            <h1 class="header white">READY TO START WORKING WITH US?</h1>
        </div>
        <a href="/contact/" class="cs-button">Get Started Today</a>
    </div>
</section>