.blog {
    background-color: var(--background-color);
}

.blog_container {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    max-width: 80rem;
}

.blog_container-posts {
    display: flex;
    flex-direction: column;
    gap: var(--gap-responsive);
}

.article-items {
    display: flex;
    flex-direction: column;
    background-color: var(--background-alt-color);
    overflow: hidden;
    border-radius: .5rem;
}   

.article_pic img, .ind-article_pic img {
    width: 100%;
    max-height: 26rem;
    overflow: hidden;
    object-fit: cover;
}

.article_pic img {
    border-radius: .5rem .5rem 0 0;
}

.ind-article_pic img {
    border-radius: .5rem;
}

.article-items p {
    color: var(--text-color);
}

.article-item_text {
    padding: clamp(30px, 5vw, 50px);
}

.article-item_text h2,
.article-item_text p, 
.article-item_text .separator {
    margin-bottom: 1rem;
}

.article_meta {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.separator {
    width: 1px;
    height: 1em;
    background-color: var(--primary-light);
}

/*Sidebar*/
.blog_container-side {
    align-self: start;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gap-responsive-small);
    margin: 0 auto;
    padding: clamp(.8rem, 1.8vw, 1.8rem);
    border-radius: .5rem;
    background-color: var(--background-alt-color);
}

.header_underline {
    max-width: 4rem;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: .3rem;
    border-bottom: 2px solid var(--bodyTextColor);
}

.blog_container-side .underline:last-child {
    display: none;
}

.featured-posts_header {
    margin: 0 auto;
}

.featured-post_item {
    display: flex;
    gap: var(--gap-responsive-small);
    align-items: center;
    transition: transform 0.3s ease; 
}

/*Book Hover on Featured Posts*/
.book-icon {
    width: clamp(20px, 2vw, 25px);
    height: clamp(20px, 2vw, 25px);
    opacity: 0;
    transform: translateX(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    align-self: center;
    stroke: var(--bodyTextColor);
}

.featured-post_item:hover .book-icon {
    opacity: 1;
    transform: translateX(0);
}
/*End Book Hover on Featured Posts*/

.featured-post_item img {
    object-fit: cover;
    border-radius: .5rem;
}

.post_meta {
    display: flex;
    flex-direction: column;
}

.post_meta p {
    color: var(--bodyTextColor);
}

/*Individual Blog Post*/ 

.ind_article-header {
    display: flex;
    flex-direction: column;
    gap: .6rem;
    padding: clamp(1.5rem, 2vw, 2.5rem) 0 clamp(1rem, 2vw, 1.5rem) 0;
}

.ind_article-header h2 {
    font-size: clamp(1.5rem, 3vw, 2.5rem);
}

.article_meta p {
    color: var(--bodyTextColor);
}

.article-content p {
    margin-bottom: 1rem;
}

@media (min-width: 1023px) {
    .blog_container {
        grid-template-columns: 2.05fr .95fr;
    }
}

@media (max-width: 1022px) {
    .blog_container {
        max-width: 50rem;
    }
}