.about {
    margin: 0 auto;
    max-width: 80rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: clamp(1rem, 2vw, 2.5rem);
}

.about-img_container {
    display: flex;
    justify-content: center;
}

.about-img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
    box-shadow: 0 10px 14px rgba(56, 56, 56, 0.2);
    object-fit: cover;
    max-width: 40rem;
}

.about_cs-container {
    display: flex;
    flex-direction: column;
}

.about_cs-container .cs-content_text {
    text-align: left;
    max-width: 40rem;
}

.cards_container {
    max-width: 40rem;
    margin: 0 auto;
}

.about_cs-cards {
    display: grid;
    gap: var(--gap-responsive);
    margin-bottom: clamp(1.75rem, 3.92vw, 2.5rem);
}

.about_card-contents {
    list-style-type: none;
}  

.span_about-icon {
    display: flex;
    align-items: center;
    gap: .625rem;
}

.about-icon {
    width: var(--headerFontSize);
    height: var(--headerFontSize);
    fill: var(--primary-light);  
}

@media(min-width: 1023px) {
    .about {
        flex-direction: row;
        justify-content: space-between;
    }
}

/*Padding removed at 1312px screen-width when auto horizontal margin reaches 16px width.*/
@media(min-width: 1312px) {
    .about {
        padding-left: 0;
        padding-right: 0;
    }
}