.blog_container {
    width: 100%;
    margin: 0 auto;
    max-width: 80rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

.blog_container-posts {
    display: flex;
    flex-direction: column;
    gap: var(--gap-responsive);
}

.article-items {
    display: flex;
    flex-direction: column;
    background-color: var(--background-alt-color);
    border-radius: 0 0 .5rem .5rem;
}   

.article_pic img {
    width: 100%;
    max-height: 24rem;
    overflow: hidden;
    object-fit: cover;
    border-radius: .5rem .5rem 0 0;
}

.article-items p {
    color: var(--text-color);
}

.article-item_text {
    padding: clamp(30px, 5vw, 50px);
}

.article-item_text h2,
.article-item_text p, 
.article-item_text .separator {
    margin-bottom: 1rem;
}

.article_meta {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.separator {
    width: 1px;
    height: 1em;
    background-color: var(--primary-light);
}

.blog_container-side {
    display: flex;
    flex-direction: column;
}

@media (min-width: 1123px) {
    .blog_container {
        grid-template-columns: 2fr 1fr;
    }
}