.featured-posts_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featured-posts_container .cs-content_text h1 {
    margin-bottom: clamp(1.75rem, 3.92vw, 2.5rem);
}

.article-list {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(310px, 1fr) );
    gap: var(--gap-responsive);
}

.snippet {
    list-style-type: none;
}

.snippet a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.snippet_img img {
    width: 100%;
    height: 100%;
    min-height: 18rem;
    object-fit: cover;
    overflow: hidden;
    border-radius: 1rem;
}

.snippet_text-container {
    background-color: var(--background-alt-color);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    padding: clamp(.5rem, 5vw, 1.2rem);
    gap: 1.5rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.snippet_title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 3rem;
}

.underline {
    border-bottom: 1px solid var(--text-light);
}

.snippet_meta-container {
    display: flex;
    justify-content: space-between;
}

.snippet_date-container {
    display: flex;
    align-items: center;
    gap: .7rem;
}

.date-icon {
    max-width: 1.3rem;
    height: 1.3rem;
    transition: stroke 0.3s ease;
}

.title-icon {
    max-width: clamp(1.8rem, 5vw, 2.5rem);
    height: clamp(1.8rem, 5vw, 2.5rem);
    transition: transform 0.3s ease, fill 0.3s ease;
}

/*Hover Effects*/
.snippet:hover .title-icon,
.snippet:focus .title-icon,
.snippet:active .title-icon {
    transform: rotate(45deg);
}

.snippet:hover .snippet_text-container,
.snippet:focus .snippet_text-container,
.snippet:active .snippet_text-container {
    background-color: var(--primary-dark);
    color: var(--background-color);
}

.snippet:hover .title-icon path,
.snippet:focus .title-icon path,
.snippet:active .title-icon path {
    fill: var(--background-color);
}

.snippet:hover .date-icon path,
.snippet:focus .date-icon path,
.snippet:active .date-icon path {
    stroke: var(--background-color);
}

/*Hover Fallback Effects*/
.snippet:focus .title-icon {
    transform: rotate(45deg);
}

.snippet:focus .snippet_text-container {
    background-color: var(--primary-dark);
    color: var(--background-color);
}

.snippet:focus .title-icon path {
    fill: var(--background-color);
}

.snippet:focus .date-icon path {
    stroke: var(--background-color);
}

@media(max-width: 1023px) {
    .article-list {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        max-width: 40rem;
        width: 100%;
    }
}