.site_footer {
    background-color: var(--primary-dark);
    color: var(--background-color);
    position: relative;
    padding: 2rem 1rem;
    font-size: var(--baseFontSize);
}

.footer_container .underline {
    margin-top: clamp(3rem, 4vw, 5.4rem);
}

.footer_container {
    padding: clamp(3.75rem, 7.82vw, 6.25rem) 0 0 0; /*Gives space below wave*/
    display: flex;
    flex-direction: column;
    max-width: 80rem;
    margin: 0 auto;
}

.footer_container-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-responsive-large);
}

.footer_col-1 {
    display: flex;
    flex-direction: column;
    gap: var(--gap-responsive-small);
    font-size: var(--fs-400);
}

/*Footer Button*/
.footer_col-1 .cs-button {
    background-color: var(--background-color);
    color: var(--nav-color);
    max-width: 14rem;
    transition: background-color 0.3s ease;
}

.footer_col-1 .cs-button:hover {
    background-color: var(--primary-light);
}

.footer_container-right {
    display: flex;
    gap: var(--gap-responsive-large);
    flex-direction: column;
}

.footer_contact-info, .footer_links {
    list-style-type: none;
} 

.footer_container-right h2 {
    margin-bottom: var(--gap-responsive-small);
    font-weight: bold;
}

.footer_links, .footer_contact-info {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

/*Footer Quick Links*/
.footer-link a {
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease;
    font-size: var(--fs-400);
}

.footer-link a:hover {
    color: var(--primary-light);
}


/*Footer Contact Items*/
.footer_contact-item {
    display: flex;
    gap: .8rem;
}

.footer_contact-item p {
    font-size: var(--fs-400);
}

.footer_contact-info .footer_contact-item {
    transition: color 0.3s ease; 
}

.footer_contact-info .footer_contact-item:nth-child(2),
.footer_contact-info .footer_contact-item:nth-child(3) {
    cursor: pointer;
}

.footer_contact-info .footer_contact-item:hover {
    color: var(--primary-light);
}

/*Footer Contact Icons*/
.footer_contact-item .icon,
.footer_contact-item .icon * {
  stroke: var(--text-light) !important;
  fill: var(--primary-dark) !important;
  color: var(--text-light) !important;
  width: 1.3rem;
  height: auto;
}

/* Optional: Handle specific elements in complex SVGs */
.footer_contact-item .icon [class^="st"] { /* Target classes like "st0" */
  fill: var(--text-light) !important;
  stroke: var(--text-light) !important;
}

.footer_container-bot {
    margin-top: 1rem;
}

/***Footer Wave Shape Separator***/
.footer_custom-shape-divider-bottom-1736398064 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.footer_custom-shape-divider-bottom-1736398064 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 62px;
}

/*For mobile devices */
@media (max-width: 767px) {
    .footer_custom-shape-divider-bottom-1736398064 svg {
        width: calc(100% + 1.3px);
        height: 62px;
    }
}
/***End Wave Shape Design***/

@media(min-width: 1023px) {
    .footer_container-top {
        flex-direction: row; 
        justify-content: space-between;
    }

    .footer_col-1 {
        max-width: 30rem;
    }
}

@media(min-width: 768px) {
    .footer_container-right {
        flex-direction: row;
    }
    .footer_col-1 {
        max-width: 35rem;
    }
}

@media(max-width: 767px) {
    .footer_container {
        max-width: 40rem;
    }
}