/*** Testimonials Section CSS ***/

.reviews_container {
    max-width: 80rem;
    margin: 0 auto;
}

.reviews_container .cs-content_text {
    max-width: 40rem;
}

.reviews_list {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(310px, 1fr) );
    gap: var(--gap-responsive);
    justify-content: center;
}

.review_item {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: var(--gap-responsive);
    text-align: left;
    background-color: var(--background-alt-color);
    border-radius: 1rem;
    padding: clamp(1rem, 5vw, 2rem);
    min-height: 15rem;
}

.cs-location, .review_text {
    color: var(--text-color);
}

/*Switches to single column grid at 1023px*/
@media(max-width: 1023px) {
    .reviews_list {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        max-width: 40rem;
        width: 100%;
        margin: 0 auto;
    }
}
