---
title: Blog
layout: "base.njk"
---

{% include "interior-hero.njk" %}

<section class="blog">
  <div class="blog_container">
    <div class="blog_container-posts">
    {% for post in collections.post %}
      <article class="article-items">
        <img src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}" loading="lazy">
        <div class="article-item_text">
          <h2> {{ post.data.title }}</h2>
          <p class="post-description">{{ post.data.description | safe }}</p>
          <button class="cs-button blog-button"><a class="cs-button_link" href="{{ post.url }}">Continue Reading</a></button>
        </div>
      </article>
    {% endfor %}
    </div>
    <div class="blog_container-side">
      <div class="side_featured-posts">
        <h2>Featured Posts</h2>
      </div>
    </div>
  </div>
</section>

{% include "cta.njk" %}
