---
title: Contact
heroTitle: Contact
layout: "base.njk"
---

{% include "interior-hero.njk" %}

<section class="contact-1">
    <div class="contact-container">
        <div class="contact-info">
            <div class="cs-content_text">
                <p class="topper gray">Performance/Featured Service</p>
                <h1 class="header black">MAIN KEYWORDS ENTERED HERE</h1>
                <p class="base gray">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad ipsum temporibus tempore reiciendis quas a, nihil esse aliquam dolorem! Error perspiciatis aliquid voluptatem suscipit sequi eius sed quis sit facilis.</p>
            </div>
            <ul class="contact-info_list">
                <li class="contact_list-item">
                    <picture class="contact-icon">
                        <img class="icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/phone-76.svg" alt="phone icon" width="40" height="40" decoding="async">
                    </picture>
                    <div class="cs-column">
                        <h2>Phone</h2>
                        <p class="cs-pointer">(111) 867-5309</p>
                    </div>
                </li>
                <li class="contact_list-item">
                    <picture class="contact-icon">
                        <img aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mail-76.svg" alt="address icon" class="icon" width="40" height="40" decoding="async">
                    </picture>
                    <div class="cs-column">
                        <h2>Email</h2>
                        <p class="cs-pointer">Click to Email</p>
                    </div>
                </li>
                <li class="contact_list-item">
                    <picture class="contact-icon">
                        <img aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/pin-76.svg" alt="address icon" class="icon" width="40" height="40" decoding="async">
                    </picture>
                    <div class="cs-column">
                        <h2>Areas Served</h2>
                        <p>USA</p>
                    </div>
                </li>
            </ul>
        </div>
        
        <!--Form-->
        <form class="cs-form" id="cs-form-1388" name="Contact Form" method="post">
            <h3 class="cs-h3">Let's Connect</h3>
            <label class="cs-label">
                Name
                <input class="cs-input" required type="text" id="name-1388" name="name" placeholder="Name">
            </label>
            <label class="cs-label cs-email">
                Email
                <input class="cs-input" required type="email" id="email-1388" name="email" placeholder="Email">
            </label>
            <label class="cs-label cs-phone">
                Phone
                <input class="cs-input" required type="number" id="phone-1388" name="phone" placeholder="Phone">
            </label>
            <label class="cs-label">
                Message
                <textarea class="cs-input cs-textarea" required name="Message" id="message-1388" placeholder="Write message..."></textarea>
            </label>
            <button class="cs-button" type="submit">Send Message</button>
        </form>

    </div>
</section>