---
title: Home
layout: "base.njk"
---
        
{% include "hero.njk" %}

<section class="services"></section>

<section class="featured-posts">
  <div>
    <h2>Featured articles</h2>
    <p>Here is a sample of articles which I feel give you a good idea of what this site is all about.</p>
    <ul role="list">

      {%- for post in collections.featured -%}
        {% include "article-snippet.njk" %}
      {%- endfor -%}

    </ul>
  </div>
</section> 

<section class="portfolio"></section>

<section class="testimonials"></section>
        

